* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#app {
  background-color: palevioletred;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms ease-in-out;
}

a {
  text-decoration: none;
}

#mobile {
  height: 660px;
  width: 400px;
}

.blur {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 16px;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.wrapper-menu {
  height: 100px;
  border-radius: 30px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
}

.mobile-menu {
  position: relative;
  width: 100%;
}

.wrapper-menu .mobile-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.wrapper-menu .mobile-menu ul li {
  margin: 0 10px;
  cursor: pointer;
}

.shop-link-effect {
  transform-origin: 50% 50%;
  transform: perspective(800px) rotateY(-8deg);
}

.discover-link-effect {
  transform-origin: 50% 50%;
  transform: perspective(800px) rotateY(-8deg) rotateX(-12deg);
}

.bookmark-link-effect {
  transform: perspective(400px) rotateX(15deg);
  transform-origin: 50% 50%;
}

.cart-link-effect {
  transform-origin: 50% 50%;
  transform: perspective(800px) rotateY(8deg) rotateX(-12deg);
}

.profile-link-effect {
  transform-origin: 50% 50%;
  transform: perspective(800px) rotateY(8deg);
}

.wrapper-menu .link {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

span {
  position: absolute;
  opacity: 0;
  transform: translateY(90px);
  pointer-events: none;
  transition: transform 300ms ease-in-out;
}

.active-span {
  transform: translateY(34px);
  opacity: 1;
}
